body {
  font-size: 11px;
  color: #303030;
  line-height: 1.7em;
}
.site {
  min-height: 900px;
  padding-bottom: 80px;
}
.footer {
  height: 50px;
  line-height: 50px;
  font-size: 11px;
}
img {
  max-width: 100%;
}
.images-section img {
  margin-bottom: 25px;
}
a {
  color: #026CB6;
  text-decoration: none;
}
a:hover {
  color: #5E95C7;
  text-decoration: underline;
}
.logo-zone {
  width: 145px;
  margin: 0 auto 40px;
}
#navbar {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
}
#navbar .nav-item {
  display: inline-block;
  margin-right: 18px;
}
#navbar .nav-item a {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  color: #303030;
  line-height: 2.6em;
}
#navbar .nav-item a:hover {
  color: #5E95C7;
}
.section-box {
  margin-bottom: 100px;
}
.specs-ul {
  margin-bottom: 25px;
  font-family: "Consolas", "Courier", sans-serif;
}
.specs-ul li {
  margin-bottom: 3px;
}
.folders-tree {
  list-style-type: none;
  font-size: 14px;
  line-height: 1.7em;
}
.folder {
  font-weight: bolder;
}
.folders-tree .level-1 {
  margin-left: 1em;
}
.folders-tree .level-2 {
  margin-left: 2em;
}
.folders-tree .level-3 {
  margin-left: 3em;
}
.folders-tree .level-4 {
  margin-left: 4em;
}
.thumbnails-3 {
  width: 103%;
  margin-left: -3% !important;
  margin-bottom: 25px; 
  overflow: hidden;
}
.thumbnails-3 > li {
  width: 30.3333%;
  height: 260px;
  float: left;
  margin-left: 3%; 
  margin-bottom: 25px;
  list-style: none;
}
.secondary-nav {
  margin-bottom: 30px;
}
.secondary-nav li {
  font-size: 15px;
  line-height: 1.7em;
}

/*************************   COLORS   ****************************/
.color-box {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 2em;
  line-height: 2em;
}
.blue                   {color:#026CB6;}
.light-blue             {color:#5E95C7;}
.font-color             {color:#303030;}
.hint-color             {color:#999999;}
.cn-font-color          {color:#555555;}
.red-color              {color:#CC0A3C;}
.green-color            {color:#00AE85;}
.yellow-color           {color:#FDE700;}
.light-yellow-color     {color:#FFFFEC;}

.bkg-border-color       {background:#EEEEEE;}
.bkg-blue               {background:#026CB6;}
.bkg-light-blue         {background:#5E95C7;}
.bkg-font-color         {background:#303030;}
.bkg-cn-font-color      {background:#555555;}
.bkg-gray-1             {background:#F1F1F1;}
.bkg-gray-2             {background:#F7F7F7;}
.bkg-dark               {background:#111111;}
.bkg-hint-color         {background:#999999;}
.bkg-facebook-color     {background:#3B5998;}
.bkg-twitter-color      {background:#55ACEE;}
.bkg-red-color          {background:#CC0A3C;}
.bkg-green-color        {background:#00AE85;}
.bkg-yellow-color       {background:#FDE700;}
.bkg-light-yellow-color {background:#FFFFEC;}


/*****************************   TYPOGRAPHY   *****************************/
h1, h2, h3 {
  margin-bottom: 1.7em;
  line-height: 1.7em;
}

h4, h5 {
  margin-bottom: 1em;
}
p,
.post pre {
  margin-bottom: 25px;
}
.post pre {
  padding: 1.5em;
  overflow-x: auto; 
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: "Source Sans Pro";
}
.font-primary     {font-family: "Source Sans Pro";}
.font-light       {font-weight: lighter;}
.font-regular     {font-weight: normal;}
.font-bold        {font-weight: bolder;}

.title-article    {font-size: 25px;}
.title-primary    {font-size: 17px;}
.title-secondary  {font-size: 14px;}
.title-small      {font-size: 13px;}
.title-smaller    {font-size: 12px;}
.title-section    {
  border-bottom: 1px solid #EEE;
  font-size: 17px;
}
.link-more        {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

/*****************************   BUTTONS   *****************************/

.btn,
input.btn,
input[type="submit"] {
  display: inline-block;
  height: 2.6em;
  line-height: 2.5em;
  padding: 0 1.1em;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  font-family: "Source Sans Pro";
  color: #FFF;
  background-color: #026CB6;
  background-image: none;
  text-decoration: none;
  text-transform: uppercase;
  border: 0 !important;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
      -ms-border-radius: 0;
       -o-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}
.btn:hover,
input.btn:hover,
input[type="submit"]:hover {
  color: #FFF;
  background-color: #5E95C7;
  text-decoration: none;
}
.btn-medium {
  font-size: 16px;
  margin: 16px 0;
}
.btn-big {
  font-size: 24px;
  margin: 25px 0;
}
.btn-second {
  background-color: #999999 !important;
  color: #FFF;
}
.btn-second:hover {
  background-color: #999999 !important;
  opacity: .8;
}
.btn.btn-disabled,
.btn[disabled]{
  background-color: #ccc !important;
  color: #fafafa !important;
}
.btn.btn-disabled:hover,
.btn[disabled]:hover {
  background-color: #ccc;
  color: #f7f7f7;
  cursor: not-allowed;
}










