<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/design-guidelines.css">

        <!-- Font Source Sans Pro -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600' rel='stylesheet' type='text/css'>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
          (function(e){e.fn.visible=function(t,n,r){var i=e(this).eq(0),s=i.get(0),o=e(window),u=o.scrollTop(),a=u+o.height(),f=o.scrollLeft(),l=f+o.width(),c=i.offset().top,h=c+i.height(),p=i.offset().left,d=p+i.width(),v=t===true?h:c,m=t===true?c:h,g=t===true?d:p,y=t===true?p:d,b=n===true?s.offsetWidth*s.offsetHeight:true,r=r?r:"both";if(r==="both")return!!b&&m<=a&&v>=u&&y<=l&&g>=f;else if(r==="vertical")return!!b&&m<=a&&v>=u;else if(r==="horizontal")return!!b&&y<=l&&g>=f}})(jQuery)
        </script>

    </head>
    <body>

      <nav id="navbar" class="nav">
        <div class="nav__logo">
          <a class="" href="{{ site.baseurl }}/">
            <img src="http://assets.adsttc.com/doodles/logo-us.png" width="120">
          </a>
        </div>
        <ul class="nav__list">
          <li class="nav-item">
            <a class="nav__link" href="/">Dev Blog</a>
          </li>

          <li class="nav-item">
            <a class="nav__link" href="{{ site.baseurl }}/css-guidelines">CSS Guidelines</a>
          </li>

          <li class="nav-item">
            <a class="nav__link" href="{{ site.baseurl }}/how-to-use-alfred">How to use Alfred</a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="{{ site.baseurl }}/alfred-files-structure">Alfred Files Structure</a>
          </li>

          <!--li class="nav__item">
            <a class="nav__link" href="{{ site.baseurl }}/alfred-general-layout">Alfred General Layout</a>
          </li-->

          <li class="nav-item">
            <a class="nav__link" href="">Components</a>
            <ul class="nav__sublist">
              <li class="nav__item">
                <a class="nav__link" href="{{ site.baseurl }}/grids">Grids</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="{{ site.baseurl }}/textfields">Textfields</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="{{ site.baseurl }}/selects">Selects</a>
              </li>
              <!--li class="nav__item">
                <a class="nav__link" href="{{ site.baseurl }}/typography">Typography</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="{{ site.baseurl }}/buttons">Buttons</a>
              </li-->
            </ul>
          </li>

          
          <li class="nav__item">
            <a class="nav__link" href="{{ site.baseurl }}/style-guidelines">Style Guidelines</a>
            <ul class="nav__sublist">
              <li class="nav__item">
                <a class="nav__link" href="{{ site.baseurl }}/style-guidelines#colors">Colors</a>
              </li>
              <!--li class="nav__item">
                <a class="nav__link" href="{{ site.baseurl }}/style-guidelines#fonts">Fonts</a>
              </li-->
            </ul>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="{{ site.baseurl }}/image">Images Usage</a>
          </li>
          
        </ul>
      </nav>

      <div class="site wrap-content">
        {{ content }}
      </div>

      <div class="footer">
        © ArchDaily DevTeam
      </div>

    </body>
</html>
